<form [formGroup]="myForm" (ngSubmit)="OnSubmit()">
  <div formArrayName="mySkills">
    <div
      *ngFor="let myForm of skillss.controls; let i = index"
      [formGroupName]="i"
    >
      <input formControlName="mySkills" placeholder="Enter skill" />
      <button type="button" (click)="removeSkill(i)">Remove</button>
      <small
        *ngIf="myForm.get('mySkills')?.errors?.['required'] && myForm.get('mySkills')?.touched"
      >
        skill name is required
      </small>
    </div>
  </div>

  <br />
  <button type="button" (click)="addSkill()">+ Add Skill</button>
  <br /><br />
  <button type="submit">Submit</button>
</form>
